.elementor-5648 .elementor-element.elementor-element-85f0db8{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;--gap:50px 50px;--row-gap:50px;--column-gap:50px;}.elementor-5648 .elementor-element.elementor-element-85f0db8.e-con{--flex-grow:0;--flex-shrink:0;}@media(max-width:700px){.elementor-5648 .elementor-element.elementor-element-85f0db8{--gap:25px 25px;--row-gap:25px;--column-gap:25px;}}/* Start custom CSS for html, class: .elementor-element-aa0d933 */.elementor-5648 .elementor-element.elementor-element-aa0d933 .wrapper{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.elementor-5648 .elementor-element.elementor-element-aa0d933 .content{
    display: flex;
    flex-direction: column;
    gap: 14.400px;
    padding: 25px;
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
    border-radius: 20px;
}

.elementor-5648 .elementor-element.elementor-element-aa0d933 .h1{
    text-align: center;
}

.elementor-5648 .elementor-element.elementor-element-aa0d933 p,
.elementor-5648 .elementor-element.elementor-element-aa0d933 li{
    font-family: "Manrope", Sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #000;
    margin: 0;
}

.elementor-5648 .elementor-element.elementor-element-aa0d933 li:not(:last-child){
    padding-bottom: 7px;
}

@media(max-width: 1200px){
    .elementor-5648 .elementor-element.elementor-element-aa0d933 ul,
    .elementor-5648 .elementor-element.elementor-element-aa0d933 ol{
        padding-left: 20px;
    }
    .elementor-5648 .elementor-element.elementor-element-aa0d933 .h3{
        text-align: center;
    }
    
}

@media(max-width: 700px){
    .elementor-5648 .elementor-element.elementor-element-aa0d933 .content{
        padding: 25px 10px;
    }
    
    .elementor-5648 .elementor-element.elementor-element-aa0d933 p,
    .elementor-5648 .elementor-element.elementor-element-aa0d933 li{
        font-size: 12px;
    }
}/* End custom CSS */
/* Start custom CSS for html, class: .elementor-element-fc35a16 */.elementor-5648 .elementor-element.elementor-element-fc35a16 .h2{
    margin-bottom: 25px;
}

.elementor-5648 .elementor-element.elementor-element-fc35a16 .swiper {
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
}

.elementor-5648 .elementor-element.elementor-element-fc35a16 img{
    width: 100%;
    height: 400px;
    border-radius: 20px;
    object-fit: cover;
    pointer-events: none;
    user-select: none;
}

.elementor-5648 .elementor-element.elementor-element-fc35a16 .swiper{
    margin-left: auto;
    margin-right: auto;
}

.elementor-5648 .elementor-element.elementor-element-fc35a16 .swiper-slide{
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 0 0 auto;
    text-align: center;
}

.elementor-5648 .elementor-element.elementor-element-fc35a16 .swiper-nav-wrapper{
    position: absolute;
    bottom: 50px;
    width: 175px;
    transform: translateY(-50%);
}

.elementor-5648 .elementor-element.elementor-element-fc35a16 .swiper-button-prev,
.elementor-5648 .elementor-element.elementor-element-fc35a16 .swiper-button-next{
    color: #B01212;
    border: none;
    cursor: pointer;
    width: 60px;
    height: 60px;
}/* End custom CSS */
/* Start custom CSS for global, class: .elementor-global-5598 */.elementor-5648 .elementor-element.elementor-global-5598 .wrapper{
    display: grid;
    grid-template-columns: 60% 1fr;
    gap: 25px;
    padding: 50px;
    background-image: url('/wp-content/uploads/2025/09/grunge-bg-vector.jpg');
    border-radius: 20px;
}

.elementor-5648 .elementor-element.elementor-global-5598 .h2,
.elementor-5648 .elementor-element.elementor-global-5598 .h3{
    color: #fff;
    text-align: left;
}

.elementor-5648 .elementor-element.elementor-global-5598 .h3{
    font-size: 20px;
}

.elementor-5648 .elementor-element.elementor-global-5598 .content{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.elementor-5648 .elementor-element.elementor-global-5598 p{
    margin-bottom: 0;
    font-family: "Manrope", Sans-Serif;
    font-size: 16px;
    color: #fff;
}

@media(max-width: 1200px){
    .elementor-5648 .elementor-element.elementor-global-5598 .wrapper{
        padding: 25px;
        grid-template-columns: 1fr;
    }

    .elementor-5648 .elementor-element.elementor-global-5598 .h2,
    .elementor-5648 .elementor-element.elementor-global-5598 .h3,
    .elementor-5648 .elementor-element.elementor-global-5598 p{
        text-align: center;
    }
    
    .elementor-5648 .elementor-element.elementor-global-5598 .button{
        width: 100%;
    }
}

@media(max-width: 700px){
    .elementor-5648 .elementor-element.elementor-global-5598 .wrapper{
        padding: 25px 10px;
    }
    
    .elementor-5648 .elementor-element.elementor-global-5598 .h3{
        font-size: 16px;
    }
    
    .elementor-5648 .elementor-element.elementor-global-5598 p{
        font-size: 14px;
    }
}/* End custom CSS */
/* Start custom CSS for global, class: .elementor-global-4653 */.elementor-5648 .elementor-element.elementor-global-4653 .wrapper{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.elementor-5648 .elementor-element.elementor-global-4653 .serviceWrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.elementor-5648 .elementor-element.elementor-global-4653 .service{
    display: flex;
    flex-direction: column;
    gap: 0
}

.elementor-5648 .elementor-element.elementor-global-4653 .serviceImg{
    object-fit: cover;
    width: 100%;
    height: 350px;
    border-radius: 20px 20px 0 0;
}

.elementor-5648 .elementor-element.elementor-global-4653 .content{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 12px;
    background-color: #F4F4F4;
    padding: 25px;
    border-radius: 0 0 20px 20px;
    font-family: "Manrope", Sans-serif;
}

.elementor-5648 .elementor-element.elementor-global-4653 .serviceTitle{
    font-family: "Merriweather", Sans-serif;
    font-size: 20px;
    color: #000;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 1.25em;
}

.elementor-5648 .elementor-element.elementor-global-4653 .servicePrice{
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    width: 175px;
    padding: 5px;
    background-color: #fff;
    border-radius: 20px;
}

.elementor-5648 .elementor-element.elementor-global-4653 .list{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.elementor-5648 .elementor-element.elementor-global-4653 .listItem{
    font-size: 12px;
    position: relative;
    margin-left: 10px;
}

.elementor-5648 .elementor-element.elementor-global-4653 .listItem:before{
    content: "";
    position: absolute;
    top: auto;
    bottom: 50%;
    left: -20px;
    width: 15px;
    height: 15px;
    background-image: url('/wp-content/uploads/2025/09/group-90.svg');
    background-size: 100%;
    transform: translateY(50%);
}

.elementor-5648 .elementor-element.elementor-global-4653 .button{
    width: 100%;
    margin-top: auto;
}

@media(max-width: 1440px){
    .elementor-5648 .elementor-element.elementor-global-4653 .serviceTitle,
    .elementor-5648 .elementor-element.elementor-global-4653 .servicePrice{
        font-size: 18px;
    }
}

@media(max-width: 1200px){
    .elementor-5648 .elementor-element.elementor-global-4653 .serviceWrapper{
        grid-template-columns: repeat(1, 1fr);
    }

    .elementor-5648 .elementor-element.elementor-global-4653 .serviceTitle,
    .elementor-5648 .elementor-element.elementor-global-4653 .servicePrice{
        font-size: 16px;
    }
}

@media(max-width: 700px){
    .elementor-5648 .elementor-element.elementor-global-4653 .content{
        padding: 25px 10px;
    }
    
    .elementor-5648 .elementor-element.elementor-global-4653 .listItem{
        margin-left: 20px;
    }
    
    .elementor-5648 .elementor-element.elementor-global-4653 .serviceTitle,
    .elementor-5648 .elementor-element.elementor-global-4653 .servicePrice{
        font-size: 14px;
    }
    
    .elementor-5648 .elementor-element.elementor-global-4653 .list{
        grid-template-columns: repeat(1, 1fr);
    }
}/* End custom CSS */
/* Start custom CSS for global, class: .elementor-global-4665 */.elementor-5648 .elementor-element.elementor-global-4665 .wrapper{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.elementor-5648 .elementor-element.elementor-global-4665 .content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}

.elementor-5648 .elementor-element.elementor-global-4665 p{
    margin-bottom: 0;
    font-family: "Manrope", Sans-Serif;
    font-size: 16px;
    color: #000;
    text-align: justify;
    padding: 25px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
    border-radius: 20px
}

@media(max-width: 1200px){
    .elementor-5648 .elementor-element.elementor-global-4665 p{
        font-size: 14px;
    }
    
    .elementor-5648 .elementor-element.elementor-global-4665 .content{
        grid-template-columns: repeat(1, 1fr);
    }
}

@media(max-width: 700px){
    .elementor-5648 .elementor-element.elementor-global-4665 p{
        font-size: 12px;
        padding: 25px 10px;
    }
}/* End custom CSS */
/* Start custom CSS for global, class: .elementor-global-4662 */.elementor-5648 .elementor-element.elementor-global-4662 .wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    gap: 25px;
    padding: 50px;
    background-color: #362D2D;
    border-radius: 20px;
}

.elementor-5648 .elementor-element.elementor-global-4662 .h3{
    color: #fff;
    text-align: left;
}

@media(max-width: 1200px){
    .elementor-5648 .elementor-element.elementor-global-4662 .wrapper{
        grid-template-columns: repeat(1, 1fr);
    }
    
    .elementor-5648 .elementor-element.elementor-global-4662 .h3{
        text-align: center;
    }
    
    .elementor-5648 .elementor-element.elementor-global-4662 p{
        font-size: 14px;
    }
}

@media(max-width: 700px){
    .elementor-5648 .elementor-element.elementor-global-4662 p{
        font-size: 12px;
        padding: 25px 10px;
    }

    .elementor-5648 .elementor-element.elementor-global-4662 h2{
        font-size: 20px;
    }
    
    .elementor-5648 .elementor-element.elementor-global-4662 .scroll{
        overflow: hidden;
        overflow-x: scroll;
    }
    
    .elementor-5648 .elementor-element.elementor-global-4662 p{
        font-size: 12px;
        text-align: center;
    }
}/* End custom CSS */
/* Start custom CSS for global, class: .elementor-global-4656 */.elementor-5648 .elementor-element.elementor-global-4656 .wrapper,
.elementor-5648 .elementor-element.elementor-global-4656 .contentItem,
.elementor-5648 .elementor-element.elementor-global-4656 .list{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.elementor-5648 .elementor-element.elementor-global-4656 .content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.elementor-5648 .elementor-element.elementor-global-4656 .contentItem svg{
    width: 125px;
    height: 125px;
}

.elementor-5648 .elementor-element.elementor-global-4656 .title{
    font-family: "Merriweather", Sans-serif;
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    line-height: 1.25em;
    padding: 15px;
    background-color: #B01212;
    border-radius: 20px;
}

.elementor-5648 .elementor-element.elementor-global-4656 .list{
    font-family: Manrope;
    font-size: 13px;
    text-align: left;
    align-items: flex-start;
    gap: 10px;
}

.elementor-5648 .elementor-element.elementor-global-4656 .listItem{
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    gap: 10px;
}

.elementor-5648 .elementor-element.elementor-global-4656 .listItem svg{
    width: 20px;
    height: 20px
}

@media(max-width: 1440px){
    .elementor-5648 .elementor-element.elementor-global-4656 .title{
        font-size: 16px;
    }
}

@media(max-width: 1200px){
    .elementor-5648 .elementor-element.elementor-global-4656 .content{
        grid-template-columns: repeat(1, 1fr);
    }
    
    .elementor-5648 .elementor-element.elementor-global-4656 .contentItem svg{
        width: 75px;
        height: 75px;
    }
    
    .elementor-5648 .elementor-element.elementor-global-4656 .listItem svg{
        width: 20px;
        height: 20px
    }

    .elementor-5648 .elementor-element.elementor-global-4656 .title{
        font-size: 14px;
    }
}

@media(max-width: 700px){
    .elementor-5648 .elementor-element.elementor-global-4656 .title{
        font-size: 12px;
    }
    
    .elementor-5648 .elementor-element.elementor-global-4656 .list{
        font-size: 11px;
    }
}/* End custom CSS */