.elementor-6457 .elementor-element.elementor-element-65f966a{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;--gap:50px 50px;--row-gap:50px;--column-gap:50px;}.elementor-6457 .elementor-element.elementor-element-65f966a.e-con{--flex-grow:0;--flex-shrink:0;}.elementor-6457 .elementor-element.elementor-element-1c61e16 .elementor-button{background-color:var( --e-global-color-text );font-family:"Manrope", Sans-serif;font-size:18px;font-weight:500;text-transform:uppercase;fill:var( --e-global-color-secondary );color:var( --e-global-color-secondary );border-radius:100px 100px 100px 100px;padding:15px 0px 15px 0px;}.elementor-6457 .elementor-element.elementor-element-1c61e16{width:var( --container-widget-width, 400px );max-width:400px;--container-widget-width:400px;--container-widget-flex-grow:0;}.elementor-6457 .elementor-element.elementor-element-1c61e16.elementor-element{--align-self:flex-start;}.elementor-6457 .elementor-element.elementor-element-d308b40{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;--justify-content:space-between;--gap:25px 25px;--row-gap:25px;--column-gap:25px;--border-radius:20px 20px 20px 20px;--padding-top:25px;--padding-bottom:25px;--padding-left:25px;--padding-right:25px;--z-index:999;}.elementor-6457 .elementor-element.elementor-element-d308b40:not(.elementor-motion-effects-element-type-background), .elementor-6457 .elementor-element.elementor-element-d308b40 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#362D2D;}.elementor-6457 .elementor-element.elementor-element-650f770{text-align:center;}.elementor-6457 .elementor-element.elementor-element-650f770 .elementor-heading-title{font-family:"Manrope", Sans-serif;font-size:50px;font-weight:bold;color:var( --e-global-color-secondary );}.elementor-6457 .elementor-element.elementor-element-8633486 .elementor-button{background-color:var( --e-global-color-text );font-family:"Manrope", Sans-serif;font-size:18px;font-weight:500;text-transform:uppercase;fill:var( --e-global-color-secondary );color:var( --e-global-color-secondary );border-radius:100px 100px 100px 100px;padding:15px 0px 15px 0px;}.elementor-6457 .elementor-element.elementor-element-8633486{width:var( --container-widget-width, 400px );max-width:400px;--container-widget-width:400px;--container-widget-flex-grow:0;}.elementor-6457 .elementor-element.elementor-element-8633486.elementor-element{--align-self:center;}.elementor-6457 .elementor-element.elementor-element-f61e9e2{text-align:center;}.elementor-6457 .elementor-element.elementor-element-f61e9e2 .elementor-heading-title{font-family:"Manrope", Sans-serif;font-size:32px;font-weight:bold;color:var( --e-global-color-secondary );}.elementor-6457 .elementor-element.elementor-element-c92da57.elementor-element{--align-self:center;}.elementor-6457 .elementor-element.elementor-element-c92da57 .elementor-field-group{padding-right:calc( 10px/2 );padding-left:calc( 10px/2 );margin-bottom:30px;}.elementor-6457 .elementor-element.elementor-element-c92da57 .elementor-form-fields-wrapper{margin-left:calc( -10px/2 );margin-right:calc( -10px/2 );margin-bottom:-30px;}.elementor-6457 .elementor-element.elementor-element-c92da57 .elementor-field-group.recaptcha_v3-bottomleft, .elementor-6457 .elementor-element.elementor-element-c92da57 .elementor-field-group.recaptcha_v3-bottomright{margin-bottom:0;}body.rtl .elementor-6457 .elementor-element.elementor-element-c92da57 .elementor-labels-inline .elementor-field-group > label{padding-left:10px;}body:not(.rtl) .elementor-6457 .elementor-element.elementor-element-c92da57 .elementor-labels-inline .elementor-field-group > label{padding-right:10px;}body .elementor-6457 .elementor-element.elementor-element-c92da57 .elementor-labels-above .elementor-field-group > label{padding-bottom:10px;}.elementor-6457 .elementor-element.elementor-element-c92da57 .elementor-field-group > label, .elementor-6457 .elementor-element.elementor-element-c92da57 .elementor-field-subgroup label{color:#C2C2C2;}.elementor-6457 .elementor-element.elementor-element-c92da57 .elementor-field-group > label{font-family:"Manrope", Sans-serif;font-size:14px;font-weight:400;line-height:1.2em;}.elementor-6457 .elementor-element.elementor-element-c92da57 .elementor-field-type-html{padding-bottom:0px;}.elementor-6457 .elementor-element.elementor-element-c92da57 .elementor-field-group .elementor-field{color:var( --e-global-color-primary );}.elementor-6457 .elementor-element.elementor-element-c92da57 .elementor-field-group .elementor-field, .elementor-6457 .elementor-element.elementor-element-c92da57 .elementor-field-subgroup label{font-family:"Manrope", Sans-serif;font-size:14px;font-weight:500;line-height:1.2em;}.elementor-6457 .elementor-element.elementor-element-c92da57 .elementor-field-group .elementor-field:not(.elementor-select-wrapper){background-color:#F4F4F4;border-width:0px 0px 0px 0px;border-radius:20px 20px 20px 20px;}.elementor-6457 .elementor-element.elementor-element-c92da57 .elementor-field-group .elementor-select-wrapper select{background-color:#F4F4F4;border-width:0px 0px 0px 0px;border-radius:20px 20px 20px 20px;}.elementor-6457 .elementor-element.elementor-element-c92da57 .elementor-button{font-family:"Manrope", Sans-serif;font-size:16px;font-weight:400;text-transform:uppercase;border-radius:20px 20px 20px 20px;padding:15px 0px 15px 0px;}.elementor-6457 .elementor-element.elementor-element-c92da57 .e-form__buttons__wrapper__button-next{background-color:var( --e-global-color-text );color:var( --e-global-color-secondary );}.elementor-6457 .elementor-element.elementor-element-c92da57 .elementor-button[type="submit"]{background-color:var( --e-global-color-text );color:var( --e-global-color-secondary );}.elementor-6457 .elementor-element.elementor-element-c92da57 .elementor-button[type="submit"] svg *{fill:var( --e-global-color-secondary );}.elementor-6457 .elementor-element.elementor-element-c92da57 .e-form__buttons__wrapper__button-previous{color:#ffffff;}.elementor-6457 .elementor-element.elementor-element-c92da57 .e-form__buttons__wrapper__button-next:hover{color:#ffffff;}.elementor-6457 .elementor-element.elementor-element-c92da57 .elementor-button[type="submit"]:hover{color:#ffffff;}.elementor-6457 .elementor-element.elementor-element-c92da57 .elementor-button[type="submit"]:hover svg *{fill:#ffffff;}.elementor-6457 .elementor-element.elementor-element-c92da57 .e-form__buttons__wrapper__button-previous:hover{color:#ffffff;}.elementor-6457 .elementor-element.elementor-element-c92da57 .elementor-message{font-family:"Montserrat", Sans-serif;font-size:18px;font-weight:500;text-transform:uppercase;line-height:1.2em;}.elementor-6457 .elementor-element.elementor-element-c92da57{--e-form-steps-indicators-spacing:20px;--e-form-steps-indicator-padding:30px;--e-form-steps-indicator-inactive-secondary-color:#ffffff;--e-form-steps-indicator-active-secondary-color:#ffffff;--e-form-steps-indicator-completed-secondary-color:#ffffff;--e-form-steps-divider-width:1px;--e-form-steps-divider-gap:10px;}@media(min-width:701px){.elementor-6457 .elementor-element.elementor-element-d308b40{--width:100%;}}@media(max-width:1200px){.elementor-6457 .elementor-element.elementor-element-1c61e16 .elementor-button{font-size:16px;}.elementor-6457 .elementor-element.elementor-element-8633486 .elementor-button{font-size:16px;}}@media(max-width:700px){.elementor-6457 .elementor-element.elementor-element-65f966a{--gap:25px 25px;--row-gap:25px;--column-gap:25px;}.elementor-6457 .elementor-element.elementor-element-1c61e16{width:100%;max-width:100%;}.elementor-6457 .elementor-element.elementor-element-1c61e16 .elementor-button{font-size:14px;}.elementor-6457 .elementor-element.elementor-element-d308b40{--padding-top:25px;--padding-bottom:25px;--padding-left:10px;--padding-right:10px;}.elementor-6457 .elementor-element.elementor-element-650f770 .elementor-heading-title{font-size:14px;}.elementor-6457 .elementor-element.elementor-element-8633486{width:100%;max-width:100%;}.elementor-6457 .elementor-element.elementor-element-8633486 .elementor-button{font-size:14px;}.elementor-6457 .elementor-element.elementor-element-f61e9e2 .elementor-heading-title{font-size:14px;}.elementor-6457 .elementor-element.elementor-element-c92da57 .elementor-field-group > label{font-size:14px;}.elementor-6457 .elementor-element.elementor-element-c92da57 .elementor-field-group .elementor-field, .elementor-6457 .elementor-element.elementor-element-c92da57 .elementor-field-subgroup label{font-size:14px;}.elementor-6457 .elementor-element.elementor-element-c92da57 .elementor-button{font-size:14px;line-height:1.2em;}.elementor-6457 .elementor-element.elementor-element-c92da57 .elementor-message{font-size:14px;}}/* Start custom CSS for html, class: .elementor-element-3fb412e */.elementor-6457 .elementor-element.elementor-element-3fb412e .wrapperCalc {
    display: flex;
    flex-direction: column;
    font-family: Manrope, sans-serif;
    user-select: none;
}

.elementor-6457 .elementor-element.elementor-element-3fb412e .scroll{
    height: 715px;
    overflow: hidden;
    overflow-y: scroll;
}

.elementor-6457 .elementor-element.elementor-element-3fb412e .headerCalc {
    display: grid;
    grid-template-columns: 50% 10% 10% 10% 10%;
    gap: 25px;
    padding: 25px;
    background-color: #362D2D;
    color: #fff;
    border-radius: 20px 20px 0px 0px;
    font-family: "Merriweather", Sans-serif;
    font-size: 20px;
}

.elementor-6457 .elementor-element.elementor-element-3fb412e .headerCalc > div:not(.first) {
    text-align: center;
}

.elementor-6457 .elementor-element.elementor-element-3fb412e .accordion-content{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.elementor-6457 .elementor-element.elementor-element-3fb412e .price-table__resrow {
    display: grid;
    grid-template-columns: 50% 10% 10% 10% 10%;
    align-items: center;
    gap: 25px;
}

.elementor-6457 .elementor-element.elementor-element-3fb412e .price-table__resrow > div:not(.first) {
    text-align: center;
}

.elementor-6457 .elementor-element.elementor-element-3fb412e .accordion {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 0px 0px 20px 20px;
}

.elementor-6457 .elementor-element.elementor-element-3fb412e .accordion-item {
    cursor: pointer;
    transition: 0.3s;
    border-bottom: solid 1px #4A6382;
}

.elementor-6457 .elementor-element.elementor-element-3fb412e .accordion-title {
    padding: 20px;
    font-size: 24px;
    font-weight: 600;
    position: relative;
    transition: 0.3s;
    color: #000 !important;
    font-family: "Merriweather", Sans-serif;
}

.elementor-6457 .elementor-element.elementor-element-3fb412e .accordion-title.active {
    color: #B01212 !important;
}

.elementor-6457 .elementor-element.elementor-element-3fb412e .accordion-item:hover .accordion-title {
    color: #B01212 !important;
}

.elementor-6457 .elementor-element.elementor-element-3fb412e .accordion-content {
    padding: 20px;
    font-size: 18px;
    font-weight: 500;
    padding-top: 20px;
}

.elementor-6457 .elementor-element.elementor-element-3fb412e .price-sum {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.elementor-6457 .elementor-element.elementor-element-3fb412e .price-it-3 {
    display: inline-flex;
    border-radius: 100px;
    border: 2px solid #000;
}

.elementor-6457 .elementor-element.elementor-element-3fb412e .price-sum__minus,
.elementor-6457 .elementor-element.elementor-element-3fb412e .price-sum__plus,
.elementor-6457 .elementor-element.elementor-element-3fb412e .price-sum__num {
    height: 35px;
    width: 35px;
    padding: 0;
    border: 0;
    margin: 0;
    background: transparent;
    cursor: pointer;
    outline: 0;
}

.elementor-6457 .elementor-element.elementor-element-3fb412e .price-sum__num {
    width: 50px;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    color: #000;
}

.elementor-6457 .elementor-element.elementor-element-3fb412e .price-sum__minus svg,
.elementor-6457 .elementor-element.elementor-element-3fb412e .price-sum__plus svg {
    stroke: #000;
    stroke-width: 4;
    transition: 0.5s;
    margin: 10px;
}

.elementor-6457 .elementor-element.elementor-element-3fb412e .price-table__resrow > div:last-child{
    position: relative;
    z-index: 1;
    color: #fff;
}

.elementor-6457 .elementor-element.elementor-element-3fb412e .price-table__resrow > div:last-child:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #362D2D;
    z-index: -1;
    border-radius: 5px;
}

@media(max-width: 1200px) {
    .elementor-6457 .elementor-element.elementor-element-3fb412e .price-it-3 .price-sum__num {
        width: 25px;
        font-size: 18px;
    }
    
    .elementor-6457 .elementor-element.elementor-element-3fb412e .price-sum__minus,
    .elementor-6457 .elementor-element.elementor-element-3fb412e .price-sum__plus,
    .elementor-6457 .elementor-element.elementor-element-3fb412e .price-sum__num {
        height: 30px;
        width: 30px;
    }
    
    .elementor-6457 .elementor-element.elementor-element-3fb412e .accordion-title {
        font-size: 18px;
    }
    
    .elementor-6457 .elementor-element.elementor-element-3fb412e .accordion-content {
        font-size: 12px;
    }
    
    .elementor-6457 .elementor-element.elementor-element-3fb412e .headerCalc{
        display: none;
    }
}

@media(max-width: 700px) {
    .elementor-6457 .elementor-element.elementor-element-3fb412e .accordion-item{
        text-wrap: balance;
    }
    
    .elementor-6457 .elementor-element.elementor-element-3fb412e .accordion-title {
        padding: 25px 10px;
        font-size: 12px;
        text-align: center;
    }
    
    .elementor-6457 .elementor-element.elementor-element-3fb412e .accordion-content {
        padding: 25px 10px;
        font-size: 10px;
        text-align: center;
    }
    
    .elementor-6457 .elementor-element.elementor-element-3fb412e .price-table__resrow {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 12px;
        border-top: solid 1px #000;
        padding-top: 12px;
    }
    
    .elementor-6457 .elementor-element.elementor-element-3fb412e .scroll{
        height: 425px;
        box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
        border-radius: 20px;
    }
}/* End custom CSS */
/* Start custom CSS for button, class: .elementor-element-1c61e16 */.elementor-6457 .elementor-element.elementor-element-1c61e16 .elementor-button{
    cursor: pointer;
}/* End custom CSS */
/* Start custom CSS for button, class: .elementor-element-8633486 */.elementor-6457 .elementor-element.elementor-element-8633486 .elementor-button{
    cursor: pointer;
}/* End custom CSS */
/* Start custom CSS for form, class: .elementor-element-c92da57 */.elementor-6457 .elementor-element.elementor-element-c92da57 .elementor-message{
    text-align: center;
    margin: 0;
    margin-top: 25px;
}

.elementor-6457 .elementor-element.elementor-element-c92da57 option:first-child{
    display: none;
}

.elementor-6457 .elementor-element.elementor-element-c92da57 input::placeholder{
    opacity: 1;
}

.elementor-6457 .elementor-element.elementor-element-c92da57 input:focus::placeholder{
    opacity: 0;
}/* End custom CSS */